<h2>Edit dependency</h2>

<%= render "form.html", changeset: @changeset,
                        action: dependency_path(@conn, :update, @dependency) %>

<%= link "Back", to: dependency_path(@conn, :index) %>
