<h2>Template: <%= @template.name %></h2>

<ol>

  <%= for task <- @template.tasks do %>
      <li>
        <b><%= task.description %></b>:
        <%= task.command %></b>
      </tr>
  <% end %>

</ol>

<%= link "Add task", to: template_task_path(@conn, :new, @template), class: "btn btn-primary" %>
<br/>
<br/>
<%= link "Edit", to: template_path(@conn, :edit, @template), class: "btn btn-default" %></button>
<%= link "Back", to: template_path(@conn, :index), class: "btn btn-default" %></button>
